version: 2.1

orbs:
  macos: circleci/macos@2.0.1

jobs:
  run-voiceover:
    macos:
      xcode: 12.5.1
    resource_class: medium
    steps:
      - checkout
      - macos/add-uitest-permissions
      - macos/add-safari-permissions
      - run:
          name: Add VoiceOver AppleScript DB Entry
          command: sudo bash -c 'echo -n "a" > /private/var/db/Accessibility/.VoiceOverAppleScriptEnabled'
      - run:
          name: Set AppleScript Enabled Default
          command: defaults write com.apple.VoiceOver4/default SCREnableAppleScript -bool true
      - run:
          name: Install Dependencies
          command: yarn install --frozen-lockfile
      - run:
          name: Start Appium
          command: yarn appium &
      - run:
          name: VoiceOver Test
          command: yarn ts-node examples/ios/index.ts
      - store_artifacts:
          path: "./voiceover"

workflows:
  version: 2
  voiceover-ios:
    jobs:
      - run-voiceover
